
<form asp-action="Index" method="post">
    <label for="Celsius">Celsius</label>
    <input type="text" name="Celsius" id="Celsius" />
    <br />
    <input type="submit" value="Converti!" />
</form>

@ViewBag.Messaggio