@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>@ViewData["Title"]</h1>

@{
    // Faccio il cast per sfruttare poi l'Intellisense!
    List<Persona> elenco = (List<Persona>)ViewBag.Elenco;
}

@foreach(var e in elenco)
{
    <p>Nome: @e.Nome</p>
    <p>Cognome: @e.Cognome</p>
}
